.ingredients{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;


    width: 600px;
    height: 460px;
    left: 16px;
    top: 100px;
    padding-top: 20px;
    overflow: auto;
}

.buns {
    width: 550px;
}

.buns_padding {
    padding-left: 30px;
}

.bun_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 568px;
    padding: 16px 24px;
}

.constructorMain{
    width: 600px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.order{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 40px;

}
.orderCost{
    width: 75px;
    height: 36px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    /* identical to box height, or 75% */

    display: flex;
    align-items: center;
    text-align: right;

    /* text/primary-light (standart text) */

    color: #F2F2F3;

}
