.img {
    width: 240px;
    height: 120px;
}

.ingredientItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    margin: auto;
}

.ingredients {
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow: auto;
    height: 700px;
    display: block;
}

.menu {
    display: flex;
}

.name {
    text-align: center;
    overflow-wrap: break-word;
}

.ingredientCard {
    max-width: 270px;
    color: darkgrey;
}

.counter {
    position: relative;
}

.caption {
    text-align: center;
    overflow-wrap: break-word;
}


